.analysis {  
  &__content {
    padding: 16px;
  }

  &__inline-error {
    margin: 24px 0;
    padding: 4px 0;
    background-color: red;
    border: 1px red solid;
    border-radius: 4px;
    color: white;
  }

  &__file-selector {
    input[type='file'] {
      display: none
    }
    
    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    height: 295px;
    width: 295px;
  }

  &__video {
    &__wrapper {
      width: 100%;
    }

    &--invalid {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 300px;
      border-radius: 4px;
      background-color: #69695F;
      color: black;
    }
  }

  &__block-response {
    border-bottom: 1px #343a40 solid;

    &:last-child {
      margin-bottom: 24px;
    }

    &__more-details {
      &__icon {
        padding-left: 8px;
        animation: fadein 1s linear;
  
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__response-content {
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 8px;
    background-color: #69695F;
    color: white;

    animation: fadein 1s linear;

    &:first-child {
      margin-top: 24px;
    }

    &:last-child {
      margin-bottom: 24px;
    }

    &__up {
      border-bottom: 1px white solid;
    }
  }
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
