<div class="container">
  <div *ngIf="!isLoading">
    <div *ngIf="response" class="row justify-content-center">
      <div class="col-12 text-center">{{response.block_time}}</div>
      <div class="col-12 text-center">{{response.predict_time}}</div>
      <div class="col-12 text-center">{{response.video_duration}}</div>
      <div class="col-12" *ngFor="let predict of response.predictions">
        <div class="col-12 text-center">{{predict.block_time_start}} - {{predict.keyword}}</div>
      </div>
    </div>
    <div class="row justify-content-center home__content">
      <button type="button" class="col-6 btn btn-dark" (click)="onClick()">Classificar</button>
    </div>
  </div>

  <div *ngIf="isLoading" class="spinner-border home__loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>